<div class="header custom-color">
  <div class="logo">
    <a href="/" class="link">
      <div class="logo-bbac" aria-label="Logo"></div>
    </a>
  </div>

  <div class="buttons">
    <button class="bebasNeue"><a href="/about">Inscrições</a></button>
    <button class="bebasNeue"><a href="/contact">Campeonatos Realizados</a></button>
    <button class="bebasNeue"><a href="/services">Hall of Fame</a></button>
  </div>

  <div class="perfil">
    <button class="user">
      <i class="mdi mdi-account"></i>
    </button>
  </div>
</div>
