/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.logo-bbac {
  background: url("./assets/images/logo1-full.png") center/contain no-repeat;
  width: 90px;
  height: 75px;
  margin: 0;
}
.main-background {
  background: url("./assets/images/bg-noblur.png") center/cover no-repeat fixed;
  width: 100%;
  max-height: 100dvh;
}
@font-face {
  font-family: "Bebas";
  src: url(./assets/fonts/BebasNeueRegular.otf);
  font-style: normal;
}
@font-face {
  font-family: "ProximaNovaBold";
  src: url(./assets/fonts/proxima-nova-bold.otf);
  font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url(./assets/fonts/Proxima-Nova-Font.otf);
    font-style: normal;
}
:root {
  --bebas-font: "Bebas", sans-serif;
  --proxima-nova-bold-font: "ProximaNovaBold", sans-serif;
  --proxima-nova-font: "ProximaNova", sans-serif;
  --footer-color: rgba(39, 36, 72, 0.8);
  --header-color: rgba(39, 36, 72, 0.8);
  --modal-color: rgba(19, 20, 24, 0.5);
  --link-color: rgba(105, 24, 255, 1);
  --modal-shadow-color: rgba(80, 70, 152, 0.40);
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
}
app-layout-header {
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 100;
}
app-layout-footer {
  flex-shrink: 0;
  position: sticky;
  bottom: 0;
  z-index: 100;
}
router-outlet + * {
  display: flex;
  flex: 1 0 auto;
  overflow-y: auto;
  flex-direction: column;
}
