/* You can add global styles to this file, and also import other style files */
.logo-bbac {
  background: url("./assets/images/logo1-full.png") center/contain no-repeat;
  width: 90px;
  height: 75px;
  margin: 0;
}
.main-background {
  background: url("./assets/images/bg-noblur.png") center/cover no-repeat;
  width: 100%;
  height: 100svh;
}
@font-face {
    font-family: 'Bebas';
    src: url(./assets/fonts/BebasNeueRegular.otf);
    font-style: normal;
}
:root {
  --bebas-font: 'Bebas', sans-serif;
  --footer-color: rgba(39, 36, 72, 0.8);
  --header-color: rgba(39, 36, 72, 0.8);
}
html {
  position: relative;
  min-height: 100vh;
}
body {
  margin: 0;
}
footer {
  margin-top: 0rem;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
